@inject IResourceManager _resourceManager
@{
    ViewData["Title"] = "درباره ما";
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--about section area -->
<div class="about_section mt-32">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="about_thumb">
                    <img src="img/about/about1.jpg" alt="شیرجات">
                </div>

                <div class="about_content">
                    <h1>به فروشگاه شیرجات خوش آمدید!</h1>
                    <p>هدف ما ارائه بهترین خدمات بصورت آنلاین و ارسال با ضمانت و ارائه بهترین کیفیت و بهترین قیمت است!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--about section end-->
<!--chose us area start-->
<div class="choseus_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="img/about/About_icon1.jpg" alt="شیرجات">
                    </div>
                    <div class="chose_content">
                        <p>
                            <strong>
                            فروشگاه لیدوما از سال 1385 فعالیت خود را در حوزه تامین و پخش شیرآلات بهداشتی ساختمانی، اتصالات تاسیساتی ایرانی و وارداتی، کاشی و سرامیک و… در بازار پا به عرصه گذاشت،
                            اکنون با برند ” شیرجات” پا به عرصه فروش اجناس به صورت اینترنتی گذاشته تا بتواند در جهت گسترش سهم بازار و فروش گسترده تر به تمام اقصی نقاط ایران عزیزمان و صادرات محصولات با کیفیت ایرانی به کشور های همسایه نوع جدیدی از ارائه خدمات و محصولات را به نمایش بگذارد.
                            شیرجات توانسته است با پشتوانه از انبار های منطقه سعید آباد شهریار، احمد آباد مستوفی برای ذخیره کالا مجموعه ای از با کیفیت ترین و بهترین کالاها را در زمینه اتصالات، شیرآلات و تاسیسات فراهم نماید.
                            </strong>  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--chose us area end-->
<!--services img area-->
<div class="about_gallery_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    @*<div class="gallery_thumb">
                        <img src="img/service/services2.jpg" alt="">
                    </div>*@
                    <div class="about_gallery_content">
                        <h3>ما چه کاری انجام می دهیم؟</h3>
                        <p>تامین و پخش شیرآلات بهداشتی  ساختمانی، اتصالات تاسیساتی ایرانی و وارداتی، کاشی و سرامیک</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    @*<div class="gallery_thumb">
                        <img src="img/service/services1.jpg" alt="">
                    </div>*@
                    <div class="about_gallery_content">
                        <h3>رسالت شیرجات</h3>
                        <p>تضمین کننده بهترین قیمت و اصالت کالا</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_gallery_section">
                    @*<div class="gallery_thumb">
                        <img src="img/service/services1.jpg" alt="">
                    </div>*@
                    <div class="about_gallery_content">
                        <h3>پشتیبانی شیرجات</h3>
                        <p>به صورت آنلاین و تلفنی در خدمت رسانی حرف اول را میزنیم</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--services img end-->