<div class="header_bottom mb-0 sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="main_menu header_position">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">صفحه اصلی<i class="fa fa-angle-down"></i></a>
                                <ul class="sub_menu">
                                    <li><a href="index.html"> 1 صفحه اصلی</a></li>
                                    <li><a href="index-2.html"> 2 صفحه اصلی</a></li>
                                    <li><a href="index-3.html"> 3 صفحه اصلی</a></li>
                                    <li><a href="index-4.html"> 4 صفحه اصلی</a></li>
                                    <li><a href="index-5.html"> 5 صفحه اصلی</a></li>
                                    <li><a href="index-6.html"> 6 صفحه اصلی</a></li>
                                    <li class="home7new"><a href="index-7.html"> 7 صفحه اصلی</a><span>جدید</span></li>
                                </ul>
                            </li>
                            <li class="mega_items">
                                <a href="shop.html">فروشگاه<i class="fa fa-angle-down"></i></a>
                                <div class="mega_menu">
                                    <ul class="mega_menu_inner">
                                        <li>
                                            <a href="#">طرح صفحات</a>
                                            <ul>
                                                <li><a href="shop-fullwidth.html">تمام صفحه</a></li>
                                                <li><a href="shop-fullwidth-list.html">لیست تمام صفحه</a></li>
                                                <li><a href="shop-right-sidebar.html">وبلاگ با نوار کناری چپ</a></li>
                                                <li><a href="shop-right-sidebar-list.html">لیست با نوار کناری چپ</a></li>
                                                <li><a href="shop-list.html">وبلاگ با نوار کناری راست</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">صفحات دیگر</a>
                                            <ul>
                                                <li><a href="cart.html">سبد خرید</a></li>
                                                <li><a href="wishlist.html">فروشگاه</a></li>
                                                <li><a href="checkout.html">پرداخت</a></li>
                                                <li><a href="my-account.html">حساب من</a></li>
                                                <li><a href="404.html">خطا 404</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"> انواع محصولات </a>
                                            <ul>
                                                <li><a href="product-details.html"> جزئیات محصول </a></li>
                                                <li><a href="product-sidebar.html"> نوار کناری محصول </a></li>
                                                <li><a href="product-grouped.html"> محصولات گروه بندی شده </a></li>
                                                <li><a href="variable-product.html"> متغیر محصول </a></li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"> ابزارهای بتونی </a>
                                            <ul>
                                                <li><a href="shop.html"> کابلها و اتصالات </a></li>
                                                <li><a href="shop-list.html"> قرص های گرافیکی </a></li>
                                                <li><a href="shop-fullwidth.html"> چاپگرها ، جوهر و تونر </a></li>
                                                <li><a href="shop-fullwidth-list.html"> قرصهای مرمت شده </a></li>
                                                <li><a href="shop-right-sidebar.html"> درایوهای نوری </a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="banner_static_menu">
                                        <a href="shop.html"><img src="assets/img/bg/banner1.jpg" alt=""></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="blog.html">وبلاگ<i class="fa fa-angle-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="blog-details.html">جزئیات وبلاگ</a></li>
                                    <li><a href="blog-fullwidth.html">وبلاگ تمام صفحه</a></li>
                                    <li><a href="blog-sidebar.html">وبلاگ با نوار کناری</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">صفحات<i class="fa fa-angle-down"></i></a>
                                <ul class="sub_menu pages">
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="services.html">خدمات</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="compare.html">مقایسه کنید</a></li>
                                    <li><a href="privacy-policy.html">سیاست حریم خصوصی</a></li>
                                    <li><a href="coming-soon.html">به زودی</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="contact.html">ارتباط با ما</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>