<div class="footer_bottom">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="copyright_area">
                <p>  © 2020 <a href="webdesignrtl">وب دیزاین</a> حقوق مادی و معنوی سایت محفوظ می باشد.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="footer_payment text-right">
                <a href="#"><img src="assets/img/icon/payment.png" alt=""></a>
            </div>
        </div>
    </div>
</div>